
<h2>Modul referent</h2>


<a href="/ModulReferent/Student" class="btn btn-info">Evidencija studenata</a>
<a href="/ModulReferent/NastavnoOsoblje" class="btn btn-info">Evidencija nastavnog osoblja</a>
<a href="/ModulReferent/Predmet" class="btn btn-info">Evidencija predmeta</a>