
<h2>Modul referent</h2>



<div class="container embed-responsive" style="align-content:center;width:350px">

    <a href="/ModulReferent/Edukatori" class="btn btn-dark" style="width:300px">Evidencija edukatora</a>
    <br><br>

    <a href="/ModulReferent/Student" class="btn btn-dark" style="width:300px">Evidencija studenata</a>
    <br><br>


    <a href="/ModulReferent/Predmet" class="btn btn-dark" style="width:300px">Evidencija predmeta</a>
    <br><br>

</div>

